body{
    background-color: mediumseagreen;
    font-family: "Poor Richard";
    text-align: center;
}
p{
    color:white;
    text-align: center;
    font-size: 30px;
}
input{
    width: 200px;
    height: 20px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
input:focus {
    outline: 0;
    outline-offset: 0;
}
button{
    color:white;
    background-color: orange;
    width: 45px;
    height: 20px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.but{
    width: 100px;
    height: 30px;
}